@font-face {
    font-family: 'Geometria';
    src: url('../fonts/subset-Geometria-ExtraBold.woff2') format('woff2'),
        url('../fonts/subset-Geometria-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/subset-Geometria-Bold.woff2') format('woff2'),
        url('../fonts/subset-Geometria-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Optima';
    src: url('../fonts/subset-AGOptimaBold.woff2') format('woff2'),
        url('../fonts/subset-AGOptimaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/subset-Geometria-Medium.woff2') format('woff2'),
        url('../fonts/subset-Geometria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/subset-Geometria-Light.woff2') format('woff2'),
        url('../fonts/subset-Geometria-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/subset-Geometria.woff2') format('woff2'),
        url('../fonts/subset-Geometria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Optima';
    src: url('../fonts/subset-Optima.woff2') format('woff2'),
        url('../fonts/subset-Optima.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

