body{
	font-family: 'Geometria';
	font-size: 16px;
	line-height: 1.4;
	font-weight: 400;
	font-style: normal;
	color: #000;
	min-height: 100vh;
	/*padding-top: 106px;*/
	a{
		color: #000;
		&:hover{
			color: #FFF;
			text-decoration: none;
		}
	}
	input,textarea{
		outline: none;
		&:focus,&:active{
			outline: none;
		}
		&:focus:required:invalid {
			border: red 1px solid;
		}
		&:required:valid {
			border: green 1px solid;
		}
	}
	.mobile{
		display: none;
	}
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}
.close-btn{
	position: absolute;
	display: block;
	width: 35px;
	height: 35px;
	top: 44px;
	right: 48px;
	cursor: pointer;
	z-index: 20; 
	&::after, &::before {
		content: '';
		position: absolute;
		left: 0;
		top: 15px;
		width: 35px;
		height: 2px;
		border-radius: 4px;
		background-color: #fff; 
	}
	&::after {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg); 
	}
	&::before {
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg); 
	}
}

.site-btn{
	position: relative;
	z-index: 1;
	display: inline-block;
	padding: 14px 30px;
	border: 1px solid #3b3b3b;
	background-color: transparent;
	color: #3b3b3b;
	font-family: 'Optima';
	font-size:16px;
	font-weight: 300;
	line-height: 1;
	-webkit-transition: background .5s ease;
	-moz-transition: background .5s ease;
	-o-transition: abackgroundll .5s ease;
	transition: background .5s ease;
	&:hover{
		color: #FFF;
		background-color: #96b3a9;
		border-color: #96b3a9;
	}
}
button.site-btn{
	@extend .site-btn;
	border: 0;
	width: 100%;
}

@-webkit-keyframes moveText2 { 0% { transform: translate3d(0, 0, 0); }
100% { transform: translate3d(0, calc(-100% - 5px), 0); } }

@-moz-keyframes moveText2 { 0% { transform: translate3d(0, 0, 0); }
100% { transform: translate3d(0, calc(-100% - 5px), 0); } }

@keyframes moveText2 { 0% { transform: translate3d(0, 0, 0); }
100% { transform: translate3d(0, calc(-100% - 5px), 0); } }

.owl{
	&-carousel{
		position: relative;
		margin-bottom: 20px;
	}
	&-nav{
		position: absolute;
		top: calc(50% - 20px);
		left: 0;
		right: 0;
	}
	&-prev,
	&-next{
		position: absolute;
		left: 20px;
		font-size: 0;
		width: 40px;
		height: 40px;
		background-color: transparent;
		cursor: pointer;
		transition: all .5s;
		&:before{
			content: '';
			position: absolute;
			top: 5px;
			left: 5px;
			width: 30px;
			height: 30px;
			border-left: 3px solid #FFF;
			border-top: 3px solid #FFF;
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
			transition: all .5s;
		}
		&:hover{
			&:before{
				border-color: $normal-color;
			}
		}
	}
	&-next{
		left: auto;
		right: 20px;
		&:before{
			left: auto;
			right: 5px;
			-webkit-transform: rotate(135deg);
			-ms-transform: rotate(135deg);
			-o-transform: rotate(135deg);
			transform: rotate(135deg);
		}
	}
}
.pagination-template{
	padding-left: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	list-style: none;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	&-item{
		a,span{
			display: inline-block;
			width: 30px;
			background-color: #f3f3f3;
			margin-left: 5px;
			margin-right: 5px;
			font-size: 16px;
			line-height: 30px;
			color: #222;
			transition: all .5s;
			text-align: center;
		}
		span{
			background-color: transparent;
		}
		&:hover,&.active{
			a{
				background-color: $normal-color;
				color: #FFF;
			}
		}
	}
}

.page-head{
	padding: 4.5vw 7vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	&-title{
		display: block;
		font-size: calc(15px + 2.2vw);
		color: #FFF;
		text-transform: uppercase;
		font-weight: 600;
	}
	&-subtitle{
		display: block;
		width: 60%;
		font-size: calc(12px + 0.7vw);
		color: #abd8ff;
		font-weight: 600;
	}
}
.page-title{
	display: block;
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}
.page-subtitle{
	@extend .page-title;
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: 400;
}
.dark-bg{
	position: relative;
	z-index: 0;
	&:after{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
		background-color: rgba(0,0,0,0.4);
	}
}
.block-head{
	position: relative;
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Optima';
	&-title{
		position: relative;
		display: inline-block;
		padding: 5px 50px;
		font-size: 32px;
		line-height: 1;
		color: #363636;
		&:after,&:before{
			content: '';
			position: absolute;
			top: calc(50% - 1px);
			width: 40px;
			height: 2px;
			background-color: #000;
		}
		&:after{
			right: 0;
		}
		&:before{
			left: 0;
		}
	}	
}
.next-page{
	font-size: 16px;
	font-weight: 600;
	&:hover{
		color: $active-color;
	}
}
.action{
	position: relative;
	display: inline-block;
	padding-left: 50px;
	&-move{
		position: absolute;
		width: 40px;
		height: 2px;
		left: 0;
		top: 50%;
		overflow: hidden;
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 1px;
			background-color: #000;
		}
	}
	&:hover{
		.action-move:before{
			animation: timing 1.8s infinite;
			animation-timing-function: ease;
		}
	}
}
@keyframes timing {
	0%{
		left: 0px;
	}
	60%{
		left: 100%;
	}
	60.1%{
		left: -45px;
	}
	100%{
		left: 0;
	}
}
@keyframes circle {
	0%{
		left: 0px;
	}
	60%{
		left: 100%;
	}
	60.1%{
		left: -100%;
	}
	100%{
		left: 0;
	}
}
.block-title{
	font-family: 'Arvo';
	display: inline-block;
	margin-bottom: 15px;
	position: relative;
	font-size: 20px;
	line-height: 36px;
	/*line-height: 1;*/
	font-weight: 400;
	color: #1c1c1c;
	text-transform: uppercase;
	span{
		font-size: 32px;
	}
}
.block-descr{
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	color: #4f4f4f;
}
.block-decor-top,
.block-decor-bottom,
.block-decor-bottom-vert{
	position: relative;
	&:after,
	&:before{
		position: absolute;
		left: 0;
		width: 70px;
		height: 2px;
		background-color: #FFF;
	}
}
.block-decor-top{
	margin-top: 20px;
	padding-top: 20px;
	&:before{
		content: '';
		top: 0;
	}
}
.block-decor-bottom{
	margin-bottom: 20px;
	padding-bottom: 20px;
	&:after{
		content: '';
		bottom: 0;
	}
}
.block-decor-bottom-vert{
	margin-bottom: 10px;
	padding-bottom: 60px;
	&:after{
		content: '';
		width: 2px;
		height: 50px;
		bottom: 0;	
	}
}

@for $i from 1 through 8 {
	.item-#{$i} {
		@include item($i*.5s);
	}
}
@for $i from 1 through 8 {
	.item--animation#{$i} {
		@include item--animation($i*.5s);
	}
}

@keyframes stroke {
	0% {
	}

	100% {
		fill: $active-color;
		stroke: $active-color;
		stroke-dashoffset: 0;
	}
}

@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 768px) {
	body section{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	body .mobile{
		display: block;
	}
	body .desktop{
		display: none;
	}
	.block-head{
		&-title{
			padding-left: 25px;
			padding-right: 25px;
			font-size: 22px;
			&:before,&:after{
				width: 20px;
			}
		}
	}
	.block-title{
		font-size: 16px;
		line-height: 1.3;
		span{
			font-size: 26px;
			line-height: 1.3;
		}
	}
	.block-decor-bottom-vert{
		padding-bottom: 15px;
		&:after{
			width: 50px;
			height: 2px;
		}
	}
}
@media only screen and (max-width: 600px) {
}



